<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/breadcumb3.jpg)">
  <div class="bradcumbContent">

    <h2>Cập nhật thông tin</h2>
  </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="login-content">
          <h2>Sửa thông tin người dùng</h2>
          <div class="create-song-form">
            <form *ngIf="formUpdate" [formGroup]="formUpdate" (ngSubmit)="submitForm()" novalidate>
              <div class="form-group">
                <label>Sửa tên người dùng:</label><strong class="text-danger">*</strong>
                <input type="text" formControlName="full_name" class="form-control">
              </div>
              <div *ngIf="full_name?.invalid && full_name?.dirty">
                <p class="text-danger" *ngIf="full_name?.errors?.required">
                  Trường này không được để trống !
                </p>
                <p class="text-danger" *ngIf="full_name?.errors?.minlength">
                  Trường này chứa ít nhất 2 ký tự!
                </p>
              </div>
              <div class="form-group">
                <label>Số điện thoại</label><strong class="text-danger">*</strong>
                <input type="text" formControlName="phone" class="form-control">
              </div>
              <div *ngIf="phone?.invalid && phone?.dirty">
                <p class="text-danger" *ngIf="phone?.errors?.required">
                  Trường này không được để trống !
                </p>
                <p class="text-danger" *ngIf="phone?.errors?.pattern">
                  Trường này gồm 10 chữ số!
                </p>
              </div>
              <div class="form-group">
                <label>Địa chỉ</label><strong class="text-danger">*</strong>
                <input type="text" formControlName="address" class="form-control">
              </div>
              <div *ngIf="address?.invalid && address?.dirty">
                <p class="text-danger" *ngIf="address?.errors?.required">
                  Trường này không được để trống !
                </p>
              </div>

              <div style="text-align: left"><label>Sửa avatar:</label><br>
                <input type="text" formControlName="avatar" [ngModel]="downloadURL" [value]="" hidden>
                <img style="width: 150px" [src]="avatar" alt="">
                <div>
                  <div *ngIf="downloadURL" style="margin-bottom: 10px; margin-top: 10px">
                    <img [src]="downloadURL" style="width: 150px; height: auto">
                  </div>
                  <input *ngIf="!downloadURL" type="file" accept="image/*" (change)="onUpload($event)"><br>
                  <mat-spinner *ngIf="checkUploadAvatar"></mat-spinner>
                </div>
              </div>

              <div style="text-align: left">Những thông tin có đánh dấu <strong class="text-danger">(*)</strong> là bắt
                buộc nhập
              </div>
              <button [disabled]="formUpdate.invalid" type="submit" class="btn oneMusic-btn mt-30">Sửa thông tin người dùng</button>
              <a type="submit" class="btn oneMusic-btn mt-30">Sửa thông tin người dùng</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>
