<div style="margin-left:25%; width: 50%; bottom:0;position: fixed; z-index:999!important;">
    <ngx-audio-player   *ngIf="listSong.length" [playlist]="listSong" [displayTitle]="msaapDisplayTitle" [autoPlay]="true"
                      muted="muted" [displayPlaylist]="false"
                      [pageSizeOptions]="msaapPageSizeOptions"
                      [displayArtist]="false" [displayDuration]="true"
                      [displayVolumeControls]="true"
                      [displayRepeatControls]="true"></ngx-audio-player>

</div>
