<div *ngFor="let song of newSongs">
  <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp"
       data-wow-delay="100ms">
    <a href="#" (click)="playSong($event,song.id)" class="first-part d-flex align-items-center">
      <div class="thumbnail">
        <img src="{{song.image}}" alt="">
      </div>
      <div class="content-">
        <h6>{{song.name}}</h6>
        <p>{{song.author}}</p>
      </div>
    </a>
  </div>
  <hr>
</div>
<!--<app-detail-song *ngIf="songId" [songId]="songId"></app-detail-song>-->

