<div *ngFor="let song of newSongs">
  <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp"
       data-wow-delay="200ms">
    <a href="#" (click)="playSong($event,song.song_id)" class="first-part d-flex align-items-center">
      <div class="thumbnail">
        <img src="{{song.image}}" alt="">
      </div>
      <div class="content-">
        <h6>{{song.name}}</h6>
        <p>{{song.author}}</p>
      </div>
    </a>
    <div style="text-align: center">
      <button *ngIf="icon&&color" (click)="Liked(song.song_id)" mat-button
              color="{{color[song.song_id]}}">
        <mat-icon>{{icon[song.song_id]}}</mat-icon>
      </button>
      <p>{{message[song.song_id]}}</p>
    </div>
    <div style="text-align: center">
      <button mat-button color="primary">
        <mat-icon>comment</mat-icon>
      </button>
      <p>Bình luận</p>
    </div>
  </div>
  <hr>
</div>

