<div >
  <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp"
       data-wow-delay="200ms" *ngFor="let song of newSongs">
    <a href="#" (click)="playSong($event,song.id)" class="first-part d-flex align-items-center">
      <div class="thumbnail">
        <img src="{{song.image}}" alt="">
      </div>
      <div class="content-">
        <h6>{{song.name}}</h6>
        <p>{{song.author}}</p>
      </div>
    </a>
    <div>
      <a name="song-liked-{{song.id}}" (click)="Liked(song.id)" mat-button color="{{color}}">
        <mat-icon id="{{song.id}}" >{{status}}</mat-icon>
      </a>
     <!-- <button *ngIf="!check" id="song-unliked-{{song.id}}" (click)="Liked(song.id)" mat-button color="accent">
        <mat-icon>thumb_down</mat-icon>
      </button>-->
    </div>
  </div>
  <hr>
</div>

<!--mat-button color="{{color}}"-->
