<section class="breadcumb-area bg-img bg-overlay"
         style="background-image: url(assets/img/bg-img/breadcumb3.jpg)">
  <div class="bradcumbContent">
    <p>Âm nhạc không chỉ để nghe</p>
    <h1>Âm nhạc còn là MUSIC</h1>
  </div>
</section>
<section class="login-area section-padding-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="login-content">
          <table class="table table-hover">
            <thead>
            <tr>
              <th colspan="4" style="text-align: center!important;">Danh sách ca sĩ</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor=" let singer of moreData">
              <td>
                <img src="{{singer.avatar}}" style="width: 50px;height: 50px" alt="">
              </td>
              <td class="song-name">
                <a style="float: left;margin-left: 95px" href="">{{singer.name}}</a>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-12">
              <div class="load-more-btn text-center wow fadeInUp" data-wow-delay="300ms">
                <a (click)="onMore()"  class="btn oneMusic-btn">Load More <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>


