<section class="breadcumb-area bg-img bg-overlay"
         style="background-image: url(assets/img/bg-img/breadcumb3.jpg)">
  <div class="bradcumbContent">
    <p>Âm nhạc không chỉ để nghe</p>
    <h1>Âm nhạc còn là MUSIC</h1>
  </div>
</section>

<div class="row">
  <div class="col-12 col-sm-6 col-md-4 col-lg-2" *ngFor="let singer of moreData">
    <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">
      <div>
        <div class="album-thumb">
          <img src="{{singer.image}}" alt="">
        </div>
        <div class="album-info">
          <a href="#" >
            <h5>{{singer.name}}</h5>
          </a>
          <p>{{singer.date_of_birth}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="load-more-btn text-center wow fadeInUp" data-wow-delay="300ms">
      <a (click)="onMore()"  class="btn oneMusic-btn">Load More <i class="fa fa-angle-double-right"></i></a>
    </div>
  </div>
</div>
