<header class="header-area">
  <!-- Navbar Area -->
  <div class="oneMusic-main-menu">
    <div class="classy-nav-container breakpoint-off">
      <div class="container">
        <!-- Menu -->
        <nav class="classy-navbar justify-content-between" id="oneMusicNav">

          <!-- Nav brand -->
          <a href="index.html" class="nav-brand"><img src="assets/img/core-img/logo.png" alt=""></a>

          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"><span></span><span></span><span></span></span>
          </div>

          <!-- Menu -->
          <div class="classy-menu">

            <!-- Close Button -->
            <div class="classycloseIcon">
              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>

            <!-- Nav Start -->
            <div class="classynav">
              <ul>
                <li><a routerLink="/">Trang chủ</a></li>

                <li><a routerLink="songs/my-songs">Bài hát của tôi</a></li>
                <li><a routerLink="/songs/create">Thêm bài hát</a></li>
              </ul>
              <!-- Login/Register & Cart Button -->
              <div class="login-register-cart-button d-flex align-items-center">
                <!-- Login/Register -->
                <div class="login-register-btn mr-50">
                  <a *ngIf="!check" routerLink="login">Đăng nhập/</a>
                  <button style="color: white" *ngIf="check" mat-button [matMenuTriggerFor]="beforeMenu" mat-icon-button>
                    <mat-icon>account_circle</mat-icon>
                  </button>
                  <mat-menu #beforeMenu="matMenu" xPosition="before">
                    <button mat-menu-item><a href="/change-password">Đổi mật khẩu</a></button>
                    <button mat-menu-item><a *ngIf="check" (click)="logout()">Đăng xuất</a></button>
                  </mat-menu>
                  <a>{{name}}</a>
                  <a *ngIf="!check" routerLink="register">Đăng ký</a>
                </div>
                <!-- Cart Button -->
              </div>
            </div>
            <!-- Nav End -->
          </div>
        </nav>
        <div class="col-md-12">
          <app-search></app-search>
        </div>
      </div>
    </div>
  </div>
</header>
