<header class="header-area">
  <!-- Navbar Area -->
  <div class="oneMusic-main-menu">
    <div class="classy-nav-container breakpoint-off">
      <div class="container">
        <!-- Menu -->
        <nav class="classy-navbar justify-content-between" id="oneMusicNav">

          <!-- Nav brand -->
          <a href="index.html" class="nav-brand"><img src="assets/img/core-img/logo.png" alt=""></a>

          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"><span></span><span></span><span></span></span>
          </div>

          <!-- Menu -->
          <div class="classy-menu">

            <!-- Close Button -->
            <div class="classycloseIcon">
              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>

            <!-- Nav Start -->
            <div class="classynav">
              <ul>
                <li><a routerLink="/">Trang chủ</a></li>
                <li><a href="/change-password">Đổi mật khẩu</a>
                <li><a routerLink="/my-songs">Bài hát của tôi</a></li>
                <li><a routerLink="/songs/create">Thêm bài hát</a></li>
              </ul>

              <!-- Login/Register & Cart Button -->
              <div class="login-register-cart-button d-flex align-items-center">
                <!-- Login/Register -->
                <div class="login-register-btn mr-50">
                  <a *ngIf="!check" routerLink="login">Đăng nhập/</a>
                  <a *ngIf="check" routerLink="users">{{name}}/</a>
                  <a *ngIf="check" (click)="logout()">Đăng xuất</a>
                  <a *ngIf="!check" routerLink="register">Đăng ký</a>
                </div>
                <!-- Cart Button -->
              </div>
            </div>
            <!-- Nav End -->
          </div>
        </nav>
       <!-- <div class="container">
          <div class="row height d-flex justify-content-center align-items-center">-->
            <div class="col-md-12">
              <form>
              <div class="search"> <i class="fa fa-search"></i> <input type="text" class="form-control" placeholder="Have a question? Ask Now"> <button class="btn btn-primary">Search</button> </div>
              </form>
            </div>
          </div>

    </div>
  </div>
</header>
