<footer class="footer-area" style="z-index: -1">
  <div class="container">
    <div class="row d-flex flex-wrap align-items-center">
      <div class="col-12 col-md-6">
        <a href="#"><img src="assets/img/core-img/logo.png" alt=""></a>
        <p class="copywrite-text"><a href="#">
        Design By HT&L team <img style="width: 20px" src="https://img.icons8.com/nolan/64/like.png"/>
        </a></p>
      </div>

      <div class="col-12 col-md-6">
        <div class="footer-nav">
          <ul>
<!--            <li><a href="#">Home</a></li>-->
<!--            <li><a href="#">Albums</a></li>-->
<!--            <li><a href="#">Events</a></li>-->
<!--            <li><a href="#">News</a></li>-->
<!--            <li><a href="#">Contact</a></li>-->
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
